label {
  padding: 8px;
  margin: 0 0 8px;
  display: block;
}

label:hover {
  cursor: pointer;
}

.scenarios input:checked + span,
.indicators input:checked + span {
  background-color: rgb(222, 235, 217);
  display: block;
}

.time-periods span {
  display: block;
}

.hidden {
  display: none;
}
